<h1>Login here</h1>


<form action="/login" method="POST" role="form">
    <legend>Login</legend>

    <div class="form-group">
        <label for="">User name</label>
        <input type="text" class="form-control" name="username" placeholder="username">
    </div>

    <div class="form-group">
        <label for="">Password</label>
        <input type="password" class="form-control" name="password" placeholder="password">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<a href="/register"> Sign Up</a>
<a href="/login">Login</a>
<a href="/logout">Logout</a>